*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.form-warp {
  background-color: bisque;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  max-width: 620px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}
.form {
  display: grid;
  max-width: 600px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 12px;
}

.students-list {
  display: grid;
  gap: 20px;
  max-width: 800px;
  margin:  0 auto;
  margin-top: 30px;
}
.student {
  background-color: aliceblue;
  padding: 10px 20px;
  border: 1px solid darkcyan;
}
.student-wrap {
  display: flex;
}
.student-age {
  margin-right: 5px;
}
.student-courses {
  display: flex;
}
.student-course:not(:last-child){
  margin-right: 5px;
}